# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def animal_crackers(text):
    word = text.split()
    if word[0][0].lower() == word[1][0].lower():
        return True
    else:
        return False

In [19]:
# Check
word = 'Levelheaded Llama'
animal_crackers(word)

True

In [16]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or (n1+n2) == 20:
        return True
    else:
        return False

In [24]:
# Check
makes_twenty(20,10)

True

In [25]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [26]:
def old_macdonald(name):
    i = 1
    new_name = ''
    for letter in name:
        if i == 1 or i == 4:
            a = letter.upper()
            new_name = new_name + a
        else:
            new_name = new_name + letter
        i += 1
    return new_name

In [27]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [30]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [31]:
# Check
master_yoda('I am home')

'home am I'

In [32]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [1]:
def almost_there(n):
    return abs(200-n) <= 10 or abs(100-n) <= 10

In [2]:
# Check
almost_there(104)

True

In [3]:
# Check
almost_there(150)

False

In [4]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [5]:
def has_33(nums):
    word = ''
    for num in nums:
        word = word + str(num)
    return '33' in word

In [6]:
# Check
has_33([1, 3, 3])

True

In [7]:
# Check
has_33([1, 3, 1, 3])

False

In [8]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [9]:
def paper_doll(text):
    word = ''
    for letter in text:
        word = word + 3 * letter
    return word

In [10]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [11]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [1]:
def blackjack(a,b,c):
    d = a + b + c
    
    if (a+b+c) > 21 and (a == 11 or b == 11 or c == 11):
        d = a+b+c - 10
    
    if d > 21:
        return 'BUST'
    else:
        return d

In [2]:
a = [1, 3, 5]

if 5 in a:
    print('placek')
    
b = a.index(1)

c = a[b+1::]
c

placek

[3, 5]

In [3]:
# Check
blackjack(5,6,7)

18

In [4]:
# Check
blackjack(9,9,9)

'BUST'

In [5]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [6]:
def summer_69(arr):
     
    if 6 in arr:
        a = arr.index(6)
        b = arr.index(9)

        my_list = arr[0:a] + arr[b+1::]
    else:
        my_list = arr
    return sum(my_list)

In [44]:
# Check
summer_69([1, 3, 5])

9

In [7]:
# Check
summer_69([6,4, 5, 5, 7, 8, 9,5])

5

In [46]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [73]:
def spy_game(nums):
    for num in nums:
        if nums.count(0) == 2:
            if num == 0:
                a = nums.index(num)
                d = nums[a+1::]
                for new in d:
                    if new == 0:  
                        b = d.index(new) + a + 1
                        
        if num == 7:
            c = nums.index(num)
    
    return a < b < c

In [74]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [75]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [76]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [113]:
def count_primes(num):
    total = 0
    my_list = []
    for each in range(2,num):
        if is_prime(each) == 1:
            total += 1
            my_list.append(each)
    print(my_list)
    return total

def is_prime(number):
    for num in range(2,number):
        if number % num == 0:
            return 0
    else:
        return 1

In [115]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

In [48]:
a=[1,2,4,0,0,7,5]

a.count(0)

2

## Great Job!